
//- Extend the skeleton
extends ../_layout

//- Layout options
block options

//- Page meat
block body
	section
		.container
			.row.entry(data-transition="slideUpBigIn"): .col-md-8.col-md-push-2
				h2= title
				p(data-transition-children="a;slideUpIn;1000;100")
					if prev
						a.button(href="#{prev['url']}") #[i.fa.fa-angle-double-left] #{prev['title']}
					a.button(href="index.html") Alla blogginlägg
					if next
						a.button(href="#{next['url']}") #{next['title']} #[i.fa.fa-angle-double-right]

				block content

				+date(date)
				
				// Läs mer, nästa blogg
				if next
					a.blogs(style="background-image: url(#{next['image']});", href="#{next['url']}")
						span.blog-pretext Nästa blogginlägg: 
						| #{next['title']}